
h1 {
    text-align:  center;
   
}
p{
    font-size: 125%;
    
    }
.dline{
    margin-bottom: 3%;
}

ul {
    font-size: 125%;
}
.Foto{
    text-align:  center;
    margin-bottom: 5%;
}
hr{
    margin-bottom: 1%;
}
body{
   /* margin: 3%;*/
    background: #778899;
    font-size: 1pt;
    display: block;
}