
h1 {
    text-align:  center;
   
}
p{
    font-size: 22pt;
    }
.dline{
    margin-bottom: 3%;
}

ul {
    font-size: 22pt;
}
.Foto{
    /*margin-bottom: 5%;*/
    border-radius: 100px;
    height: 750px;
    margin-left: 283px;
}
.c{
    width: 1000px;
    margin: 25px auto;
    background: #fff;
    border: solid #EEE9E9;
}
hr{
    margin-bottom: 1%;
}
body{
   /* margin: 3%;*/
    font-size: 25pt;
    /*display: block;*/
    border: 1pt;
}