.card .name{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: black;
    border: none;
    
}

.card p{
    border-bottom: 2px solid black;
    font-size: 22pt;
}

.card ul {
    font-size: 22pt;
    border-bottom: 2px solid black;
    
}
.align-center{
    margin: auto;
    padding:50px 0px 50px 0px;
}
.align-center img{
    border-radius: 100px;
   
    
} 
.card{
    width: 1000px;
    background: #fff;
    border: solid #EEE9E9;
    padding: 50px;
    margin: auto;
    box-shadow: 0 0 5px 2px;
    
}
hr{
    margin-bottom: 1%;
}
body{
   /* margin: 3%;*/
    /*font-size: 25pt;*/
    /*display: block;*/
    border: 1pt;
    background: #f9f9f9;
}